.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}
.containers {
  display: flex;
  flex-direction: column;
  padding: 7px 7px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(119, 117, 117);
  gap: 2rem;
  transition: transform 0.3s, box-shadow 0.3s;
  background: linear-gradient(45deg, rgb(255 255 255/75%), rgb(255 255 255/75%)),
		url(https://design-fenix.com.ar/codepen/pokedex/header-bg.png) no-repeat;
}

.pkm-card {
  height: 7.5rem;
  width: 7rem;
  padding: 1rem;
  border-radius: 20px;
  background-color: white;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 900;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
h3 {
  color: #383838;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  line-height: 1.7rem;
  font-weight: 700;
}

.containers:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 16px darken(#fbfbfb, 7%);
}

.search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.search-container input, .search-container select {
  padding: 0.5rem;
  margin: 0 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}



.pkm-images {
  height: 60%;
  width: 60%;
}

.type {
  font-size: 0.8rem;
}
